.HeaderMenuUl {
    display: flex;
    justify-content: space-between;
   
}

.HeaderMenuUl li {
    list-style-type: none;
    margin-right: 10px;
    position: relative;
    padding: 5px;
    border-radius: 10px;
}

.HeaderUnderMenu {
    display: none;
}

.HeaderMenuUl li:hover > .HeaderUnderMenu {
  display: block;
  color: blueviolet;
  position: absolute;
  width: 100%;
}

.HeaderMenuUl li:hover {
    background-color: burlywood;
    cursor: pointer;
}