/* .HeaderMenuUl {
    display: flex;
} */

.HeaderMenuUl li {
    padding: 5px;
    border-radius: 10px;
    list-style-type: none;
    margin-right: 10px;
}

.HeaderMenuLi {
    position: relative;
}

.HeaderUnderMenu {
    display: none;
    
}

.HeaderMenuUl li:hover > .HeaderUnderMenu {
    display: block;
    color: blueviolet;
    position: absolute;
    background: bisque;
    border-radius: 10px;
    z-index: 5;
    
}

.HeaderMenuUl li:hover {
    background-color: burlywood;
    cursor: pointer;
}

