
.HeaderMenuUl li {
    padding: 5px;
    border-radius: 10px;
    list-style-type: none;
    margin-right: 10px;
}

.HeaderMenuLi {
    position: relative;

}

.HeaderUnderMenu {
    position: absolute;
    z-index: 5;
    display: none;
}

.HeaderMenuLi:hover  .HeaderUnderMenu {
    color: blueviolet;
    background: bisque;
    border-radius: 10px;
    animation: ani 1.5s forwards;
    display: block;
}



.HeaderMenuUl li:hover {
    background-color: burlywood;
    cursor: pointer;
}

